.jumbotron {
  margin: 5% auto;
  text-align: center;
}
h1{
  text-align: center;
}
p{
text-align: center;
}
td {
  height:50px;
  width: 50px;
  text-align: center;
  border: 1px solid rgb(255, 0, 0);
  font-size: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
table {
  margin:auto auto;
}